<!DOCTYPE html>
<html>
  <head>
    <title>Progprog Books Online Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="store">
    <div id="banner" >
      <%= image_tag("logo.png") %>
      <%= @page_title ||"Pragmatic Bookshelf" %>
    </div>
    <div id="columns" >
      <div id="side" >
        <%=link_to "Product list" , products_path(@product)%> <br/>
        <%=link_to "Cart    list" , carts_path(@cart)%> <br/> 
        <%=link_to "Store   list" , store_path(@store)%> <br/>  
        <%=link_to "line    item" , line_items_path(@line_items)%><br/>
        <p >Today is:<%= Date.today() %></p>
      </div>
    <div id="main">
    <%= yield %>
    </div>

    <div id="bottom" >
      <p>Progprog Books Online Store</p>
      <p>Design By tomlv2018</p>
    </div>
  </div>
  </body>
</html>
